sudo: required
language: node_js
node_js:
  - "8"
env:
  - VERSION_PJSIP=2.7.1
addons:
  apt:
    packages:
    - wget
    - pkg-config
    - build-essential
    - python
before_install:
    - wget -nv "http://www.pjsip.org/release/$VERSION_PJSIP/pjproject-$VERSION_PJSIP.tar.bz2" -O - | tar xjf -
    - cd pjproject-$VERSION_PJSIP
    - >
      ./configure
      --enable-shared
      --disable-sound
      --disable-oss
      --disable-sdl
      --disable-speex-aec
      --disable-video
    - make dep all
    - sudo make install
    - sudo ldconfig
